html {
  background-color: #1f1f1f;
  font-family: monospace;
  display: inline-block;
  margin: 0px auto;
}

body {
  margin-top: 0.2rem;
}

h1 {
  margin: 50px auto 30px;
  color: #000000;
}

h3 {
  margin-bottom: 50px;
  color: #ffffff;
}

.grid-container {
  grid-template-columns: 20rem 20rem 20rem 20rem;
  /*grid-template-rows: 15% 10% 15%;*/
  background-color: #072238;
  grid-gap: 0.3rem;
  padding: 0.6rem;
  font-size: 30px;
  display: grid;
  margin: auto;
  width: 81rem;
  height: auto;
}

.room {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 20px 0;
  height: 15rem;
}

.header {
  grid-template-columns: 20rem 20rem 20rem 20rem;
  grid-column: 1 / 5;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  display: grid;
}

.header-room {
  background-color: rgba(255, 255, 255, 0.1);
}

.meeting-room {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  grid-row: 2 / 4;
  padding: 5rem 0;
}

.corridor {
  background-color: rgba(255, 255, 255, 0.2);
  grid-template-columns: 20rem 20rem 20rem;
  grid-column: 2 / 5;
  text-align: center;
  padding: 20px 0;
  display: grid;
}

.corridor-room {
  padding: auto;
}

.circleBtn {
  text-decoration: none;
  border-radius: 5rem;
  text-align: center;
  padding: 1rem 1rem;
  margin: 2rem auto;
  line-height: 1rem;
  cursor: pointer;
  font-size: 15px;
  display: block;
  color: white;
  border: none;
  height: 1rem;
  width: 1rem;
}

.on {
  background-color: #0fb641;
}

.off {
  background-color: #34495e;
}

.logo {
  padding: 4rem 3rem;
  width: 15rem;
}

.container {
  /*grid-template-rows: 15% 10% 15%;*/
  background-color: #072238;
  padding: 0.6rem;
  font-size: 20px;
  display: grid;
  margin: auto;
  width: 80.8rem;
  height: 62.1rem;
}
/* Style the tab */
.tab {
  overflow: hidden;
  margin: auto;
  width: 81rem;
  padding: 0.6rem;
  background-color: #072238;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

/********************************/

.footer {
}

.footer a {
  color: #53b2c8;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
  margin: 3rem 22rem;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: black;
  padding: 4rem 11.8rem;
  text-align: left;
  font-size: 1.2rem;
  margin: 2rem 22rem;
  cursor: pointer;
}

input {
  left: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  padding: 10px 10px 10px 100px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #000000;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #141414;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #000000;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #000000;
  }

  to {
    width: 0;
    background: transparent;
  }
}

/* form starting stylings ------------------------------- */
.radiobtn {
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  margin-bottom: 45px;
  margin: 2rem 27.1rem 2rem 22rem;
  font-size: 18px;
}

.inputx {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 18px;

  left: 5px;
  display: unset;
  width: 50px;
  border: none;
  border-bottom: 1px solid #757575;
}

/* ################################################ */
.scroll {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(53, 53, 53);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757575;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.all_off_btn {
  position: relative;
  right: -61rem;
  background-color: inherit;
  float: left;
  outline: none;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 5rem;
  text-align: center;
  padding: 1.5rem 1.5rem 0.5rem;
  line-height: 1rem;
  cursor: pointer;
  font-size: 15px;
  display: block;
  color: rgb(124, 124, 124);
}
