html {
  background-color: #1f1f1f;
  font-family: monospace;
  display: inline-block;
  text-align: center;
  margin: 0px auto;
}

body {
  margin-top: 50px;
}

h1 {
  margin: 50px auto 30px;
  color: #000000;
}

h3 {
  margin-bottom: 50px;
  color: #ffffff;
}

.grid-container {
  grid-template-columns: 20rem 20rem 20rem 20rem;
  /*grid-template-rows: 15% 10% 15%;*/
  background-color: #072238;
  grid-gap: 0.3rem;
  padding: 0.6rem;
  font-size: 30px;
  display: grid;
  margin: auto;
  width: 81rem;
  height: auto;
}

.room {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 20px 0;
  height: 15rem;
}

.header {
  grid-template-columns: 20rem 20rem 20rem 20rem;
  grid-column: 1 / 5;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  display: grid;
}

.header-room {
  background-color: rgba(255, 255, 255, 0.1);
}

.meeting-room {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  grid-row: 2 / 4;
  padding: 5rem 0;
}

.corridor {
  background-color: rgba(255, 255, 255, 0.2);
  grid-template-columns: 20rem 20rem 20rem;
  grid-column: 2 / 5;
  text-align: center;
  padding: 20px 0;
  display: grid;
}

.corridor-room {
  padding: auto;
}

.circleBtn {
  text-decoration: none;
  border-radius: 5rem;
  text-align: center;
  padding: 1rem 1rem;
  margin: 2rem auto;
  line-height: 1rem;
  cursor: pointer;
  font-size: 15px;
  display: block;
  color: white;
  border: none;
  height: 1rem;
  width: 1rem;
}

.on {
  background-color: #0fb641;
}

.off {
  background-color: #34495e;
}

.logo {
  padding: 4rem 3rem;
  width: 15rem;
}
